{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/houshi1.jpg" width="2000" height="1100" alt="Shihou Ryokan">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Entrance</h5>
                    <p>Exquisite place in Sapporo - Japan's snowy capital!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/food_best.jpg" width="2000" height="1100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hakakuna - A Local Feast</h5>
                    <p>Exquisite food prepared from exclusive ingredients of Hokkaido</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/bath.jpg" width="2000" height="1100" alt="Onsen">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Outdoor and Indoor Onsen</h5>
                    <p>A warm place to cleanse the soul and body.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Shihou Ryokan</h1>
                <strong><h2 style="font-family:Times New Roman">Welcome</h2></strong>
                <p>
                    Shihou has more than 50 years history of stylish hospitality.<br>
                    This Year - This Month - Today <br>
                    A Once-In-A-Lifetime Experience <br>
                    We have been welcoming guests with warm hospitality for the past 50 years! <br>
                    The legacy of our old hotel has been cherished and refined to this day, and will continue with the future generations.<br>
                    We approach our work with diligence, humility and resolve each day to welcome new customers.<br>
                    Our wish is for all visitors who come our way to enjoy a day of relaxation and delight.<br>
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>

            </div>
        </div>

    </div>
{{end}}
