{{ template "base" .}}

{{ define "content"}}

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>This is the home page</h1>
          <h3>This is some text</h3>
          <h3>This is some text</h3>

        </div>
      </div>
    </div>

{{ end }}